<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div style="display: flex; justify-content: center;">

        <div style="height: 50vh; width: 80vw;">
            <h2>View sea level data by <a href="http://localhost:8000/sea_level_by_region/central_east_atlantic">region</a>, <a href="http://localhost:8000/sea_level_by_year/1991">year</a> or View Consecutive Dry Days data by <a href="http://localhost:8000/cdd_by_year/1961">year</a></h2>
            %%LINKS%%
            <canvas id="myChart" width="250" height="150"></canvas>
        </div>
    </div>
    %%SCRIPT%%
</body>
</html>