<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div style="display: flex; justify-content: center;">

        <div style="height: 50vh; width: 80vw;">
            <h4>View climate data by <a href="http://localhost:8000/climate/1991">year</a>, <a href="http://localhost:8000/climate/1991">indicator for occurrence of rain</a> or <a>something else</a></h4>
            </select>
            <canvas id="myChart" width="250" height="150"></canvas>
        </div>
    </div>
    %%SCRIPT%%
</body>
</html>